body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d3d3d3; /* Легкий серый фон */
    overflow: hidden; /* Отключить прокрутку */
    color: black;
}

#top-image {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 60px); /* Учитывая место для изображения сверху */
    position: relative;
}

#coin {
    width: 200px;
    height: 200px;
    background-image: url('Images/coin.png'); /* Ваше изображение монетки */
    background-size: cover;
    cursor: pointer;
    position: relative;
    transition: transform 0.1s ease; /* Анимация уменьшения */
}

#score {
    font-size: 48px;
    margin-top: 20px;
    color: #d3d3d3;
    position: relative; /* Переместите счетчик ниже */
}


.points {
    position: absolute;
    font-size: 32px;
    color: black;
    animation: rise 1s ease-out;
    pointer-events: none;
}

@keyframes rise {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
