#top-image {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

#score {
    font-size: 48px;
    margin-top: 20px;
    color: white;
    position: relative; /* Переместите счетчик ниже */
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 60px); /* Учитывая место для изображения сверху */
    position: relative;
}

#coin {
    width: 200px;
    height: 200px;
    background-image: url('../images/coin.png'); /* Ваше изображение монетки */
    background-size: cover;
    cursor: pointer;
    position: relative;
    transition: transform 0.1s ease; /* Анимация уменьшения */
    margin-bottom: 20px; /* Отступ для размещения счетчика ниже */
}
